<!DOCTYPE html>
<html>
<head>
    <title>SmartStay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="top-bar">
    <h2>SmartStay</h2>
    <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </div>
</div>

<div class="main-section">
    <h1>Find your perfect stay</h1>
    <p>Search, compare and book hotels easily</p>
    <p>Simple and comfortable hotel booking</p>
</div>

<div class="form-section">
    <h3>Booking Details</h3>
    <input type="text" id="city" placeholder="Enter city">
    <input type="date">
    <input type="date">

    <select>
        <option>Select Room</option>
        <option>Single</option>
        <option>Double</option>
        <option>Suite</option>
    </select>

    <button onclick="askBot()">Check Availability</button>
</div>

<div class="chatbot-wrapper">

    <div class="chat-toggle" onclick="toggleChat()">
        💬
    </div>

    <div class="chatbox" id="chatbox">

        <div class="chat-header">
            SmartStay Assistant
            <span onclick="toggleChat()" class="close-btn">✖</span>
        </div>

        <div class="chat-body" id="chatBody">
            <div class="bot">Hi! I can help you find hotels or prices.</div>
        </div>

        <div class="chat-input">
            <input id="msg" placeholder="Type your message..."
            onkeypress="if(event.key==='Enter') sendMsg()">
        </div>

    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>